.header{
    background-color: #f7f7f7;
  }
  .nav-link {
    color: black !important;
  }
  .nav > .nav-item:hover{
  background-color: rgba(65, 64, 64, 0.5);
  border-radius: 23%;
  
  }
  .sidebar{
    background-color: black;
  }
  
  .logo{
    height: 40px;
  }
  
  /* Add this to your CSS stylesheet or style block */
  .carousel-control-prev span,
  .carousel-control-next span {
    box-shadow: 0 0 10px rgba(36, 36, 31, 0.5); /* Adjust the values as needed */
  }
  
  .card img{
    object-fit:contain; 
    height: 200px;
  }
      